@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


[x-cloak] {
    display: none;
}

.fill {
    font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
}

.bg-red{ background-color: red;}

.roboto-flex{
    font-family: "Roboto Flex", sans-serif;
}


.multiselect-options{
    padding: 8px 2px !important;
    --ms-option-font-size: 13px
}
.multiselect-dropdown{
    --ms-border-width: 2px;
    --ms-dropdown-border-color: black;
}
.multiselect{
    height: 40px !important;
    --ms-border-color: black;
    --ms-border-width: 1px;
    --ms-border-color-active: black;
    --ms-border-width-active: 1px;
    --ms-font-size: 13px !important;
    --ms-radius: 0px;
    box-shadow: 2px 1px;
}
